:root {
  --color-brand-dark-green: #082f24;
  --color-brand-oregon: #082f24;
  --color-brand-oat: #f7f3ed;
  --color-brand-taupe: #e8e1d9;
  --color-brand-taupe-border: #d9ccbe;
  --color-brand-purple: #7637e3;
  --color-negative: #d00100;

  --color-grey-90: #1a1a1a;
  --color-grey-80: #333333;
  --color-grey-70: #4d4d4d;
  --color-grey-50: #808080;
  --color-grey-20: #cccccc;
  --color-grey-10: #e5e5e5;
  --color-grey-05: #f2f2f2;
  --color-grey-02: #fafafa;
  --color-white: #ffffff;

  --font-heading: 'Figtree', sans-serif;
  --font-body: 'Mulish', sans-serif;
  --font-button: 'Nunito Sans', sans-serif;

  --shadow-menu: 0 8px 32px rgba(0, 0, 0, 0.08), 0 2px 20px rgba(0, 0, 0, 0.08);
}
